@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.video-container {
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-container:hover {
  transform: scale(1.15);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.vid-card-img img {
  object-fit: contain;
  width: 100%;
}

.vid-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 10px 10px;  
}



.vid-card-buttons :nth-child(n+0) {
  display: block;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.vid-card-title {
  padding: 2px;
  margin-left: 2%;
  font-family: 'Roboto', sans-serif;
}










