@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.video-container {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 15px;
  padding-right: 15px;
  /* this does give padding, but seems to be a bit messed up by the  */
}

.card-container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.vid-card-img img {
  object-fit: contain;
  width: 100%;
}

.vid-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;  
}

.vid-card-buttons :nth-child(n+1) {
  display: block;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.vid-card-title {
  padding: 2px;
  margin-left: 2%;
  font-family: 'Roboto', sans-serif;
}








